#VS
.vs/*
*.csproj
*.sln
*.userprefs
*.suo
*.arc
*.arc.meta
*.VC.db

obj/
#Unity
Library/
Temp/
Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll
Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll.meta
Assets/ShaderForge/*
Assets/ShaderForge.meta

Assets/sh1/*
Assets/sh2pc/*
Assets/sh3pc/*
Assets/sh3pc_demo/*
Assets/sh4pc/*
Assets/sh1.meta
Assets/sh2pc.meta
Assets/sh3pc.meta
Assets/sh3pc_demo.meta
Assets/sh4pc.meta

Assets/Resources/sh2pc/*
Assets/Resources/sh3pc/*
Assets/Resources/sh3pc_demo/*
Assets/Resources/sh4pc/*
Assets/Resources/sh2pc.meta
Assets/Resources/sh3pc.meta
Assets/Resources/sh3pc_demo.meta
Assets/Resources/sh4pc.meta