#VS
*.csproj
*.sln
*.userprefs
*.suo
*.arc
*.arc.meta
Assets/SilentHill3/Resources/data
Assets/SilentHill3/Resources/data.meta
Assets/SilentHill2/Resources/data
Assets/SilentHill2/Resources/data.meta
obj/
#Unity
Library/
Temp/
Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll
Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll.meta